* {
    background-color: black;
}

h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: white;
}

#name {
    color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resume {
    color: green;
    font-family: 'Grey Qo', cursive;
    font-size: 40px;
}